:root {
  --primary-color: #60a5fa;
}
a,
a:hover {
  text-decoration: none;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
.btn-primary {
  background-color: var(--primary-color);
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-home {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
}
.button-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 25px !important;
  border: 1px solid var(--primary-color);
}
.button-primary:hover {
  background-color: #fff !important;
  color: var(--primary-color) !important;
  border-radius: 25px !important;
  border: 1px solid var(--primary-color);
}
.bg-light {
  background-color: #f3f4f6 !important;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--primary-color); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffeeee;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ffffff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.particle-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0 !important;
}
.d-relative {
  position: relative;
}
.z-100 {
  z-index: 100 !important;
}
header {
  position: absolute;
  top: 0%;
  height: 50px;
  width: 100%;
  background: #fff;
}
.display-6 {
  font-size: 2rem;
  font-weight: 200;
}
.spaced {
  letter-spacing: 8px;
}
