:root {
  --primary-color: #60a5fa;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
.btn-primary {
  background-color: var(--primary-color);
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.button-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 25px !important;
  border: 1px solid var(--primary-color);
}
.button-primary:hover {
  background-color: #fff !important;
  color: var(--primary-color) !important;
  border-radius: 25px !important;
  border: 1px solid var(--primary-color);
}
